<section class="features">
    <div class="features-container">

    {% for feature in site.features %}

        {% if feature.title %}
            <div class="feature">
                <div>
                    <span class="icon-stack" aria-hidden="true">
                        <svg class="icon-circle svg-icon iconBack" width="2em" height="2em" style="fill:currentColor"><use href="#i-circle"/></svg>
                        <svg class="icon-glyph svg-icon iconTop" width="1em" height="1em" style="fill:currentColor"><use href="#i-{{ feature.fontawesome_icon_name }}"/></svg>
                    </span>
                </div>
                <div class="featureText">
                    <h3>
                        {{ feature.title }}
                    </h3>
                    <p>
                        {{ feature.description }}
                    </p>
                </div>
            </div>
        {% endif %}

    {% endfor %}

    </div>
    {% include contact.html %}
</section>

