<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ site.page_title }}</title>
	<meta name="description" content="{{ site.app_description }}">
	<meta name="author" content="{{ site.your_name }}">
	<meta name="build-time" content="{{ site.time | date_to_xmlschema }}">
	<meta name="theme-color" content="{{ page.theme_color | default: site.topbar_color }}">

	<link rel="shortcut icon" href="{{ site.app_icon | relative_url }}">
	<link rel="icon" href="{{ '/assets/favicon.ico' | relative_url }}" sizes="16x16 32x32 48x48">
	<link rel="apple-touch-icon" href="{{ '/assets/icons/icon-192.png' | relative_url }}">
	<link rel="manifest" href="{{ '/manifest.webmanifest' | relative_url }}">
	<link rel="canonical" href="{{ site.url }}{{ page.url | relative_url }}">

	<meta property="og:site_name" content="{{ site.page_title }}">
	<meta property="og:title" content="{{ site.page_title }}">
	<meta property="og:description" content="{{ site.app_description }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ site.url }}{{ page.url | relative_url }}">
	<meta property="og:image" content="{{ site.url }}/assets/logo.png">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ site.page_title }}">
	<meta name="twitter:description" content="{{ site.app_description }}">
	<meta name="twitter:image" content="{{ site.url }}/assets/logo.png">

	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "SoftwareApplication",
		"name": "{{ site.app_name }}",
		"operatingSystem": "Windows 10, Windows 11 (32 y 64 bits)",
		"applicationCategory": "UtilitiesApplication",
		"version": "{{ site.app_version }}",
		"description": "{{ site.app_description }}",
		"offers": { "@type": "Offer", "price": "0", "priceCurrency": "CUP" },
		"author": { "@type": "Person", "name": "{{ site.your_name }}" },
		"publisher": {
			"@type": "Organization",
			"name": "{{ site.app_name }}",
			"url": "{{ site.organization_url }}",
			"sameAs": [ "{{ site.organization_url }}" ]
		}
	}
	</script>

	<!-- Smart App Banner -->
	{% if site.enable_smart_app_banner %}
		<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">
	{% endif %}

	<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">
</head>
